# audit=false
# legacy-peer-deps=true
# @fortawesome:registry=https://npm.fontawesome.com/
# //npm.fontawesome.com/:_authToken=9EFC1527-CFB9-48C0-951E-CB68DF139D54
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=9EFC1527-CFB9-48C0-951E-CB68DF139D54
