<div class="container">
    <div class="row">
        <div class="col-3">
            <ul class="navbar-nav">
                <button type="button" class="btn btn-light m-1" *ngIf="rol=='nutricionista'">
                    <li class="nav-item"><a class="nav-link" href="orden">Clientes Asignados</a></li>
                </button>
                <button type="button" class="btn btn-light m-1" *ngIf="rol=='nutricionista'">
                    <li class="nav-item"><a class="nav-link" href="listado_pacientes">Clientes no Asignados</a></li>
                </button>
                <button type="button" class="btn btn-light m-1" *ngIf="rol=='usuario' || rol=='admin'">
                    <li class="nav-item"><a class="nav-link" href="perfil">Perfil</a></li>
                </button>
                <button type="button" class="btn btn-light m-1">
                    <li class="nav-item"><a class="nav-link" href="cuadro">Cambiar Datos</a></li>
                </button>
                <button *ngIf="rol=='nutricionista' || rol=='admin'" type="button" class="btn btn-light m-1">
                    <li class="nav-item"><a class="nav-link" href="upreceta">Subir Receta</a></li>
                </button>
                <button type="button" class="btn btn-light m-1">
                    <li class="nav-item"><a class="nav-link" href="archivos_asignados">Archivos Asignados</a></li>
                </button>
            </ul>
        </div>
        <div class="col-9 card-body">
            <h5 class="titulo text-center">Ingrese una Receta
            </h5>
            <form class="row g-3" (ngSubmit)="subirReceta()">
                <div class="col-md-12">
                    <label for="validationServerUsername" class="form-label">Encabezado</label>
                    <div class="input-group input group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-circle-user"></i>
                        </span>
                        <input type="text" [(ngModel)]="recetas.Encabezado" [ngModelOptions]="{ standalone: true }"
                            class="form-control" id="validationServerUsername" minlength="3" required>
                        <div id="validationServerUsernameFeedback" class="valid-feedback">
                            ¡Se ve bien!
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="validationCustom02" class="form-label">Ingredientes</label>
                    <div class="input-group input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-circle-user"></i>
                        </span>
                        <textarea type="text" (keydown)="addSymbol($event)" (paste)="onPaste($event)"
                            [(ngModel)]="recetas.Ingredientes"
                            placeholder="Separa los ingredientes usando comas y enumera usando guion"
                            [ngModelOptions]="{ standalone: true }" class="form-control" id="ingredientes"
                            required></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="validationCustomUsername" class="form-label">Preparacion</label>
                    <div class="input-group input-group">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-at"></i></span>
                        <textarea type="text" (keydown)="addSymbol($event)" (paste)="onPaste($event)"
                            [(ngModel)]="recetas.Preparacion"
                            placeholder="Separa los pasos usando comas y enumera usando guion"
                            [ngModelOptions]="{ standalone: true }" class="form-control" id="preparacion"
                            aria-describedby="inputGroupPrepend" required></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="validationCustom04" class="form-label">Notas</label>
                    <div class="input-group input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-users-viewfinder"></i>
                        </span>
                        <textarea type="text" (keydown)="addSymbol($event)" (paste)="onPaste($event)"
                            [(ngModel)]="recetas.Notas"
                            placeholder="Separa usando comas y enumera usando guion, por ejemplo, algun ingrediente que se pueda reemplazar o paso que no sea 100% necesario"
                            [ngModelOptions]="{ standalone: true }" class="form-control" minlength="10" id="notas"
                            required></textarea>
                    </div>

                </div>
                <div class="col-md-12">
                    <label for="validationCustom05" class="form-label">Detalles</label>
                    <div class="input-group input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <textarea type="text" (keydown)="addSymbol($event)" (paste)="onPaste($event)"
                            [(ngModel)]="recetas.Detalles"
                            placeholder="Separa los detalles usando comas y enumera usando guion, por ejemplo: cantidad de porciones, tiempo de cocción"
                            [ngModelOptions]="{ standalone: true }" class="form-control" minlength="10" id="detalles"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom05" class="form-label center">Imagen de cabecera</label>
                    <div>
                        <button type="button" class="btn btn-outline-primary">
                            <input type="file" class="form-control-file" accept="image/*" name="image"
                                (change)="Recibe_imgCabecera($event)">
                        </button>
                    </div>

                </div>
                <div class="col-md-6">
                    <label for="validationCustom05" class="form-label center">Etiqueta</label>
                    <div>
                        <button type="button" class="btn btn-outline-primary">
                            <input type="file" class="form-control-file" accept="image/*" name="etiqueta"
                                (change)="Recibe_imgEtiqueta($event)">
                        </button>
                    </div>

                </div>

                <div class="col-md-12">
                    <button class="btn btn-success" (click)="showTostada()" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>