<div class="container">
    <div class="row">
        <div class="col-3">
            <ul class="navbar-nav">
                <button type="button" class="btn btn-light m-1" *ngIf="rol=='nutricionista'">
                    <li class="nav-item"><a class="nav-link" (click)="cleanPeso()" href="orden">Clientes Asignados</a></li>
                </button>
                <button type="button" class="btn btn-light m-1" *ngIf="rol=='nutricionista'">
                    <li class="nav-item"><a class="nav-link" href="listado_pacientes">Clientes no Asignados</a></li>
                </button>
                <button type="button" class="btn btn-light m-1" *ngIf="rol=='usuario' || rol=='admin'">
                    <li class="nav-item"><a class="nav-link" href="perfil">Perfil</a></li>
                </button>
                <button type="button" class="btn btn-light m-1">
                    <li class="nav-item"><a class="nav-link" href="cuadro">Cambiar Datos</a></li>
                </button>
                <button *ngIf="rol=='nutricionista' || rol=='admin'" type="button" class="btn btn-light m-1">
                    <li class="nav-item"><a class="nav-link" href="upreceta">Subir Receta</a></li>
                </button>
                <button type="button" class="btn btn-light m-1">
                    <li class="nav-item"><a class="nav-link" href="archivos_asignados">Archivos Asignados</a></li>
                </button>
            </ul>
        </div>
        <div class="col">
            <div style="text-align: center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row" style="justify-content: center;">
                                <img src="{{user.Img}}" alt="" class="img-dimension img-thumbnail rounded float-start">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h6>Nombre: {{user.Nombre}} {{user.Apellido}}</h6>
                                    <h6 *ngFor="let element of cantidad_archivos">{{element[0][0]}}</h6>
                                    <h6>Altura: {{user.Altura}}</h6>
                                </div>
                                <div class="col">
                                    <h6>Contextura Fisica: {{user.Contex_Fisica}}</h6>
                                    <h6>Genero: {{user.Genero}}</h6>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div style="display: block;">
                                    <h4>Los pesos registrados por el Paciente</h4>
                                    <canvas baseChart width="200" height="200"
                                        [type]="'line'"
                                        [data]="lineChartData"
                                        [options]="lineChartOptions"
                                        [legend]="lineChartLegend">
                                    </canvas>
                                </div>
                                </div>
                                <div class="col">
                                    <div style="display: block;">
                                    <h4>Variaciones del IMC del paciente</h4>
                                    <canvas baseChart width="200" height="200"
                                        [type]="'line'"
                                        [data]="lineChartDataIMC"
                                        [options]="lineChartOptions"
                                        [legend]="lineChartLegend">
                                    </canvas>
                                </div>
                                </div>
                                
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <form (ngSubmit)="subirMinuta()">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-outline-primary">
                                                <input type="file" class="form-control-file" accept="{{formato}}"
                                                    name="pdf" (change)="Recibe_imgMinuta($event)"></button>
                                            <button type="submit" class="btn btn-outline-success">Upload</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>