<div>
    <div class="row">
        <div class="col">
            <div *ngFor="let rece of recetas" class="card" style="width: 20.75rem; height:38rem;">
                <i class="fa-regular fa-star-sharp"></i>
                <img src="{{rece.Imagen}}" class="card-img-top" alt="..." width="10rem">
                <div class="card-body">
                    <h5 class="card-title">{{rece.Encabezado}}</h5>
                    <a href="/recetas/{{rece.IdReceta}}" class="btn btn-primary">Ir a receta</a>

                </div>
            </div>
        </div>

    </div>


</div>